@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <div class="container">


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies quam ac posuere faucibus. Ut et tristique mauris, in efficitur nunc. Maecenas non nisi lobortis velit aliquet venenatis. Nunc in gravida erat. Mauris accumsan nulla ut sapien tincidunt sodales. Nullam eu efficitur orci. Fusce at risus ultrices sem laoreet faucibus sed ac tortor. Aenean egestas dui sed sem pellentesque, ac faucibus lectus fringilla. Morbi lobortis at lorem feugiat pulvinar. Cras aliquet eget odio id hendrerit. Proin quis ultrices turpis.

            Maecenas quis nibh orci. Nunc consequat tortor massa, vitae rutrum diam viverra vitae. Nam vitae risus tempor, congue ligula sed, tristique felis. Vestibulum in imperdiet lectus, ac posuere leo. Maecenas a condimentum ipsum. Suspendisse turpis nisi, tincidunt id ligula ut, tincidunt feugiat sem. Donec lobortis, est at tempus gravida, mi risus varius nunc, quis vulputate erat tortor eu eros. Vivamus ultrices aliquet tellus. Nunc ac ante id orci lobortis interdum a quis ligula. Donec egestas tellus non arcu scelerisque facilisis. In nulla elit, consequat nec venenatis non, feugiat vitae sapien. Vestibulum viverra aliquet tortor, vitae ultrices ipsum lacinia ac. Praesent laoreet scelerisque volutpat.

            Aenean a ligula malesuada, rutrum ex id, fringilla eros. Duis pulvinar ipsum id sem rhoncus, ac blandit magna rhoncus. Sed magna risus, iaculis vitae cursus nec, tincidunt nec magna. Etiam ex nisl, scelerisque in hendrerit id, molestie semper velit. Nullam cursus sit amet nunc id luctus. Suspendisse turpis risus, feugiat et nunc eget, semper aliquam lorem. Fusce congue purus ac felis efficitur sagittis. In hac habitasse platea dictumst. Praesent sed efficitur tellus, ut porttitor dui. Ut eget urna aliquet, euismod tellus vel, iaculis enim.
        </div>
    </div>
